.container {
    width: 600px;
    margin:auto;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    text-align: center;
    background-color: gold;
  }

  .cadastro {
    margin-top: 10px;
    font-size: 24px;
    background-color: lightblue;
  
  }

  .btn{
    margin-top: 10px;
    font-size: 20px;
    width: 200px;
    height: 100px;
  }

  body {

    background-color: orange;
  
  }