footer {
    background-color: var(--orange);
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer img {
    height: 100px;
}
body 

{background-color: orange;
}


.breadcrumb  {

background-color: gold;

}

.bg-light  {

    background-color: gold;
    
    }



.card {

    background-color: gold;
    
    }