.container {
    width: 600px;
    margin:auto;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    text-align: center;
  }

  .cadastro {
    margin-top: 10px;
    font-size: 20px;
  }

  .button {
    margin-top: 10px;
    font-size: 20px;
  }