@page "/"

<PageTitle>FGJR</PageTitle>


<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/fgjr.css" />
	<title>FGJR Imóveis</title>
</head>

<body>
	<header>
		<img src="imagens/Logo2.svg">
		<a class="text" href="/Minha-conta"><strong>Minha Conta</strong></a>
		
	</header>


	<aside>
		<div class="container">
			<h1>
				Faça seu Login
			</h1>
			<img src="imagens/Logo.svg" hi alt="Logo da Empresa">
			<form>
				<input type="email" placeholder="Email" required><br>
				<input type="password" placeholder="Senha" required><br>
				<br>
				<button class="button" type="submit">Entrar</button>
			</form>
		</div>

		<div class="container2">

			<h2 class="Criar">
				Crie uma conta!
			</h2>
			<img src="imagens/Computadores.svg" />
			<p> Cadastre-se em nosso site e receba em primeira mão as melhores opções de imóveis disponíveis</p>
			<p>Clique aqui <a href="Cadastro">Cadastrar</a></p>
		</div>
	</aside>

	<main>
	<h1 class="text-h1">
		Encontre a propriedade perfeita com nossa imobiliária
	</h1>

	<p>
		<strong>
			Na FGJR Imóveis, oferecemos soluções inovadoras e personalizadas para quem busca comprar, vender ou alugar
			imóveis.
		</strong>
	</p>
	<form>
		<font size="+2"> Pesquise por locação:</font>
		<input  class="pesquisa" type="text" id="pesquisa" name="pesquisa">
	</form>

	<h3><strong>Descubra seu imóvel</strong></h3>
	<p>Com a nossa expertise no mercado imobiliário, garantimos a satisfação de nossos clientes por meio de um
		atendimento de excelência e oferta de imóveis exclusivos e diferenciados </p>
		
		<div class="imovel">
			<img src="imagens/imovel1.jpg" alt="Imagem do imóvel 1">
			<div class="informacoes">
				<h2>Apartamento no centro</h2>
				<p>R$ 2.500/mês</p>
				<button type="button" class="btn btn-danger" id="remover" name="remover">Remover</button>
                <button type="button" class="btn btn-success" id="adionar" name="adicionar">adicionar</button>
			</div>
		</div>

		
		<div class="imovel">
			<img src="imagens/imovel1.jpg" alt="Imagem do imóvel 1">
			<div class="informacoes">
				<h2>Casa</h2>
				<p>R$ 2.500/mês</p>
				<button type="button" class="btn btn-danger" id="remover" name="remover">Remover</button>
				<button type="button" class="btn btn-success" id="adionar" name="adicionar">adicionar</button>
			</div>
		</div>

		<div class="imovel">
			<img src="imagens/imovel1.jpg" alt="Imagem do imóvel 1">
			<div class="informacoes">
				<h2>Terreno com 300m²</h2>
				<p>R$ 2.500/mês</p>
				<button type="button" class="btn btn-danger" id="remover" name="remover">Remover</button>
				<button type="button" class="btn btn-success" id="adionar" name="adicionar">adicionar</button>
			</div>
		</div>

				
		<div class="imovel">
						<img src="imagens/imovel1.jpg" alt="Imagem do imóvel 1">
			<div class="informacoes">
				<h2>Apartamento no centro</h2>
				<p>R$ 2.500/mês</p>
				<button type="button" class="btn btn-danger" id="remover" name="remover">Remover</button>
				<button type="button" class="btn btn-success" id="adionar" name="adicionar">adicionar</button>
			</div>
		</div>

					
		<div class="imovel">
			<img src="imagens/imovel1.jpg" alt="Imagem do imóvel 1">
			<div class="informacoes">
				<h2>Casa</h2>
				<p class="preço">R$ 2.500/mês</p>
				<button type="button" class="btn btn-danger" id="remover" name="remover">Remover</button>
				<button type="button" class="btn btn-success" id="adionar" name="adicionar">adicionar</button>
			</div>
		</div>
		
						
		<div class="imovel">
			<img src="imagens/imovel1.jpg" alt="Imagem do imóvel 1">
			<div class="informacoes">
				<p>$ 2.500/mês</p>
				<button type="button" class="btn btn-danger" id="remover" name="remover">Remover</button>
				<button type="button" class="btn btn-success" id="adionar" name="adicionar">adicionar</button>

			</div>
		</div>
	</main>


	<img src="imagens/background.svg" alt="Logo da empresa">

	<footer>
	
		<img src="imagens/logoFooter.svg" alt="Logo da empresa no rodapé">
		<h2><strong>Entre em contato</strong></h2>
		<p>(15 3232-3232)</p>
	</footer>
</body>

</HTML>